<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="fin.web.stock">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/JavaSource"/>
        <property name="context-root" value="fin.web.stock"/>
        <property name="java-output-path" value="/fin.web.stock/build/classes"/>
    </wb-module>
</project-modules>
